<div class="row">
  <div class="span6 offset3">
  	<h1>Comments for Gift: <%= @post.title %></h1>
			<%= form_for([@post, @comment]) do |f| %>
				<%= f.label :content %>
				<%= f.text_field :content %>

				<%= f.submit "Save", class: "btn btn-large btn-primary" %>
			<% end %>		
	</div>
</div>