<div class="hero-unit">
  <h1><i class="icon-user"></i> <%= @user.username %>
  </h1>
  <p>created <%= time_ago_in_words(@user.created_at) %> ago.
  </p>
</div>
<h2>Recent activities</h2>
<div class="row">
  <div class="span3">  	
   	<h3>Last posts</h3>
   	<ul>
   		<% @last_posts.each do |post| %>
   			<li class="last_post"><%= link_to post.title, post_path(post) %></li>
   		<% end %>
   	</ul>
  </div>
  <div class="span3">  	
  	<h3>Last comments</h3>
  	<ul>
      <% @last_comments.each do |comment| %>
        <li class="last_comment"><%= comment.content %> on post <%= link_to comment.post.title, post_path(comment.post) %></li>
      <% end %>		
   	</ul>
	</div>  	
	<div class="span3">  	
  	<h3>Last votes</h3>
  	<ul>
      <% @last_votes.each do |vote| %>
        <li class="last_post">Voted on post <%= link_to vote.post.title, post_path(vote.post) %></li>
      <% end %>
   	</ul>
	</div>  	
  <div class="span3">   
    <h3>Last Tweets <small><%= @user.twitter_handle.to_s %></small></h3>
    <ul>
      <% Twitter.user_timeline(@user.twitter_handle.to_s, count: 10).each do |tweet| %>
        <li class="last_tweets">
          <%= tweet.text %>
        </li>
      <% end %>
    </ul>
  </div>      
</div>