<div class="row">
	<div class="span2">
		<ul class="nav nav-list nav-stacked">
			<li class="nav-header">Categories</li>
			<li class="<%= 'active' if current_category.nil? %>">				
				<%= link_to "All", root_path %>
			</li>
			<% Category.all.each do |category| %>
				<li class="<%= 'active' if current_category == category.slug %>">			
					<%= link_to category.name, category_path(category) %>
				</li>
			<% end %>
		</ul>
	</div>	
  <div class="span10">
  	<h2><%= image_tag "gift_48_white.png" %> Top Gifts List</h2>
		<% if logged_in? %>
			<%= link_to "Create a new gift", new_post_path, class: "btn btn-primary" %>
		<% end %>

		<%= will_paginate @posts %>

		<ul class="posts">
			<% posts.each do |post| %>
				<li class="post_item">
					<div class="post_left">
						<div class="post_vote_up">
							<% if logged_in? %>						
								<%= link_to post_votes_path(post, direction: "up"), :method => :post do %>
									<i class="icon-thumbs-up icon-large"></i>
								<% end %>
							<% else %>
								<%= link_to login_path do %>
									<i class="icon-thumbs-up icon-large"></i>
								<% end %>
							<% end %>
						</div>						
						<div class="post_votes">
							<span class="badge"><%= post.votes_count %></span>
						</div>
						
						<div class="post_vote_down">			
							<% if logged_in? %>
								<%= link_to post_votes_path(post, direction: "down"), :method => :post do %>
									<i class="icon-thumbs-down icon-large"></i>
								<% end %>
							<% else %>
								<%= link_to login_path do %>
									<i class="icon-thumbs-down icon-large"></i>
								<% end %>
							<% end %>
						</div>
					</div> <!-- END post_left -->
					<div class = "post_right">
						<div class="post_title">
							<%= display_url_link(post) %>
							<i class="icon-external-link"></i>
						</div>
						<div class="post_author">
							<% if !post.user.nil? %>
								published <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.username, user_path(post.user) %> 
							<% else %>
								<br>
							<% end %>
						</div>
						<div class="post_comments">
							<%= link_to post_path(post) do %>
								<i class="icon-comments"></i>
								<%= pluralize(post.comments_count, "comment") %>
							<% end %>
						</div>
					</div> <!-- END post_rigth -->

				</li>
			<% end %> <!-- End posts block -->
		</ul>

		<%= will_paginate @posts %>

	</div>
</div>