<h2><%= image_tag "gift.png" %>Top Gifts List</h2>
<%= link_to "Create a new gift", new_post_path, class: "btn btn-primary" %>

<ul class="posts">
	<% @posts.each do |post| %>
	<li>
		<div class="post_left">
			<div class="post_vote_up">
				<%= link_to '', post_votes_path(post), :method => :post, class: "icon-thumbs-up" %>
			</div>
			<div class="post_votes">
				<span class="badge"><%= post.votes_count %></span>
			</div>
			<div class="post_vote_down">			
				<%= link_to('', post_vote_path(post, post.votes.last.id), :method => :delete, class: "icon-thumbs-down") if post.votes_count > 0 %>
			</div>
		</div>
		<div class = "post_right">
			<div class="post_title">
				<%= link_to post.title, post.url %>
			</div>
			<div class="post_comments">
				<%= link_to pluralize(post.comments_count, "comment"), post_path(post) %>
			</div>
		</div>
	</li>
	<% end %> <!-- End posts block -->
</ul>