<h2><%= image_tag "gift.png" %>Top Gifts List</h2>
<%= link_to "Create a new gift", new_post_path, class: "btn btn-primary" %>

<ul class="posts">
	<% @posts.each do |post| %>
	<li>
		<div class="post_left">
			<div class="post_vote_up">
				<%= link_to post_votes_path(post, direction: "up"), :method => :post do %>
				<i class="icon-thumbs-up"></i>
				<% end %>
			</div>
			<div class="post_votes">
				<span class="badge"><%= post.vote_number %></span>
			</div>
			<div class="post_vote_down">			
				<%= link_to post_votes_path(post, direction: "down"), :method => :post do %>
					<i class="icon-thumbs-down"></i>
				<% end %>
			</div>
		</div>
		<div class = "post_right">
			<div class="post_title">
				<%= display_url_link(post) %>
			</div>
			<div class="post_comments">
				<%= link_to pluralize(post.comments_count, "comment"), post_path(post) %>
			</div>
		</div>
	</li>
	<% end %> <!-- End posts block -->
</ul>