<h2><%= image_tag "gift.png" %><%= link_to @post.title, @post.url %></h2>

<div class="comments">
	<h5><%= pluralize(@post.comments.count, "comment") %></h5>
	<ul>
		<% @post.comments.each do |comment| %>
			<li>
				<%= comment.content %>
			</li>
		<% end %>
	</ul>
</div>
<div class="row">
  <div class="span6">
  	<h3>Add a new comment for <%= @post.title %></h3>
		<%= form_for([@post, @comment]) do |f| %>
			<%= f.label :content %>
			<%= f.text_area :content, rows: 5 %>

			<%= f.submit "Save", class: "btn btn-large btn-primary" %>
		<% end %>		
	</div>
</div>