<ul class="nav">
  <li class="active">
  	<%= link_to root_path do %>
  		<i class="icon-home"></i> Home
  	<% end %>
  </li>   
</ul>
<ul class="nav pull-right">
  <% if logged_in? %>   
    <li>
      <%= link_to logout_path do %>
        <i class="icon-signout"></i><%= "Logout #{current_user.username}" %>
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to register_path do %>
        <i class="icon-user"></i> Register
      <% end %>
    </li>
    <li>
      <%= link_to login_path do %>
        <i class="icon-signin"></i> Login
      <% end %>
    </li>
  <% end %>
</ul>